{% extends "_base.html" %}

{% block conteudo %}

{% set estilos = {
    'acao': 'Ação',
    'tiro': 'Tiro',
    'rpg': 'RPG'
} %}

<h3>Lista de jogos</h3>

<a href="jogos_inserir.php">➕ Novo Jogo</a>
<br><br>
<table border="1" style="border-collapse: collapse;border-color: aquamarine;">
    <tr>
        <th>Nome</th>
        <th>Estilo</th>
        <th>Lançamento</th>
        <th>Capa</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    {% for jogo in jogos %}
    <tr>
        <td>{{ jogo.nome }}</td>
        <td>{{ estilos[jogo.estilo] ?? "Não encontrado" }}</td>
        <td>{{ jogo.lancamento }}</td>
        <td><img src="img/{{ jogo.capa }}" width="150"></td>
        <td><a href="jogos_editar.php?id={{ jogo.id }}">📝</a></td>
        <td><a href="jogos_excluir.php?id={{ jogo.id }}">🚮</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
