{# jogos_inserir.html - isto é um comentário #}
{% extends "_base.html" %}

{% block conteudo %}
<h3>Inserir jogo</h3>

{% if erro %}
<p style="color:red">⚠️ {{ erro }}</p>
{% endif %}

<form action="jogos_inserir.php" method="post" enctype="multipart/form-data">
    <input type="text" name="nome" placeholder="Nome">
    <br>
    Estilo: <select name="estilo">
        <option value="acao">Ação</option>
        <option value="tiro">Tiro</option>
        <option value="rpg">RPG</option>
    </select>
    <br>
    Capa: <input type="file" name="capa">
    <br>
    Lançamento: <input type="date" name="lancamento">
    <br>
    <input type="submit" value="Gravar">
</form>
{% endblock %}