{# jogos_inserir.html - isto é um comentário #}
{% extends "_base.html" %}

{% block conteudo %}
<h3>Editar jogo</h3>

{% if erro %}
<p style="color:red">⚠️ {{ erro }}</p>
{% endif %}

<form action="jogos_editar.php" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{ jogo.id }}">

    <input type="text" name="nome" placeholder="Nome" value="{{ jogo.nome }}">
    <br>
    Estilo: <select name="estilo">
        <option value="acao"{% if jogo.estilo == 'acao' %} selected{% endif %}>Ação</option>
        <option value="tiro"{% if jogo.estilo == 'tiro' %} selected{% endif %}>Tiro</option>
        <option value="rpg"{% if jogo.estilo == 'rpg' %} selected{% endif %}>RPG</option>
    </select>
    <br>
    Capa: <input type="file" name="capa">
    <br>
    <input type="submit" value="Gravar">
</form>
{% endblock %}